html body .el-button.el-button--primary {
  --el-button-text-color: #10392e;
  --el-button-hover-text-color: #10392e;
  --el-button-active-text-color: #10392e;
  color: #10392e;
  border-color: var(--primary);
  background: var(--primary);
  font-weight: 750;

  &:hover {
    color: #0b2e25;
    border-color: #8bdab5;
    background: #8bdab5;
  }

  &:active {
    color: #0b2e25;
    border-color: #55b989;
    background: #55b989;
  }
}
