:root,
html:root {
  --el-color-primary: #70cfa2;
  --el-color-primary-light-3: #93ddba;
  --el-color-primary-light-5: #b7e8d0;
  --el-color-primary-light-7: #d4f1e3;
  --el-color-primary-light-8: #e2f5ec;
  --el-color-primary-light-9: #f0faf5;
  --el-color-primary-dark-2: #49aa7c;
  --el-color-success: #359a70;
  --el-border-color: #d8e6de;
  --el-border-color-light: #e4eee8;
  --el-fill-color-light: #f3f8f5;
  --el-border-radius-base: 11px;
  --el-border-radius-small: 9px;
  --el-font-size-base: 13px;
}
